@font-face {
    font-family: 'HeaderFont';
    src: url('./fonts/IntroHeadB-Trial-Base.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BodyFont';
    src: url('./fonts/Knockout-HTF51-Middleweight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BodyFontItalic';
    src: url('./fonts/Knockout-HTF51-Middleweight.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}
* {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: 'BodyFont', sans-serif;
    background: black;
    color: white;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
header {
    font-family: 'HeaderFont', sans-serif;
    font-size: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'HeaderFont', sans-serif;
    font-weight: normal;
    font-size: 2.2rem;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#heroContent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1.5rem;
    padding-top: 1rem;
}
#poster {
    width: 100%;
    max-width: 600px;
    min-width: 40%;
}
nav {

}
ul {
    list-style: none;
    font-family: 'HeaderFont', sans-serif;
}
#pageLinks {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}
.links {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#projectLinks {    
    visibility: hidden;
    list-style-type: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    opacity: 0;
    transform: translateX(0px);
    transition: opacity .4s ease, transform .5s ease, visibility .4s ease;
}
#projects:hover #projectLinks {
    visibility: visible;
    opacity: 1;
    transform: translateX(20px);
}
#projectContext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.projectContextInfo {
    /* border: solid 1px red; */
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.projectContextInfo p:first-child {
    margin-bottom: 5px;
}
#projectTitle {
    font-size: 2rem;
}
